//
// Header
//

@import '../../../styles/functions';

.header {
  padding-top: px-to-rem(40px);
  padding-bottom: px-to-rem(25px);

  /**
   *
   * Responsive
   *
   */
  @include breakpoint-down(lg) {
    padding-top: px-to-rem(20px);
    padding-bottom: px-to-rem(20px);
  }
}
