//
// Work Detail
//

@import 'styles/_mixins.scss';

.o-work-detail {
  &__live-view {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 350ms;
    opacity: 0;
    transform: translateY(15px);
    visibility: hidden;
    z-index: 50;

    &.is-active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile() {
    &__live-view {
      right: 1rem;
      bottom: 1rem;
    }
  }
}
