//
// Footer
//

@import 'styles/_mixins.scss';

.l-footer {
  margin-top: 200px;
  padding: 100px 0;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;

  &__used-tools {
    margin-top: calc(15px - 5px);
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      margin-top: 5px;
      padding-left: 7.5px;
      padding-right: 7.5px;
      display: flex;
      align-items: center;
    }

    &-img {
      max-width: 45px;
      max-height: 20px;
      margin-left: 7px;
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
    }

    &-text {
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      color: rgb(0, 0, 0, 0.5);
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include mobileOrTablet(){
    margin-top: $section-space-mobile;
    padding: 3rem 0;
  }
}
