//
// Social Media
//

@import '../../../styles/functions';

.social-media {
  margin-top: px-to-rem(-10px);
  margin-left: px-to-rem(-5px);
  margin-right: px-to-rem(-5px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    margin-top: px-to-rem(10px);
    margin-left: px-to-rem(5px);
    margin-right: px-to-rem(5px);
    padding: px-to-rem(7px);
    border-radius: get-border-radius(md);
    background-color: #f3f3f3;
    font-size: px-to-rem(14px);
    font-weight: 500;
    color: get-color('dark-gray');
    display: flex;
    align-items: center;
    transition: background-color, $transition-delay-time;

    &:hover {
      background-color: #e9e9e9;
    }

    &:active {
      transform: scale(0.96);
    }
  }

  &__icon {
    margin-right: px-to-rem(5px);
    display: flex;

    svg {
      width: px-to-rem(18px);
      height: px-to-rem(18px);
      font-size: px-to-rem(18px);
    }
  }
}
