//
// Utilities
//

@import './mixins';

.u-mt-0 {
  margin-top: 0;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-width-100 {
  width: 100%;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-initial {
  overflow: initial !important;
}

.u-section-space {
  &-top {
    margin-top: $section-space;

    @include mobileOrTablet() {
      margin-top: $section-space-mobile;
    }
  }

  &-bottom {
    margin-bottom: $section-space;

    @include mobileOrTablet() {
      margin-bottom: $section-space-mobile;
    }
  }
}

.u-section-medium-space {
  &-top {
    margin-top: $section-medium-space;

    @include mobileOrTablet() {
      margin-top: $section-medium-space-mobile;
    }
  }

  &-bottom {
    margin-bottom: $section-medium-space;

    @include mobileOrTablet() {
      margin-bottom: $section-medium-space-mobile;
    }
  }
}

.u-section-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  color: #000;

  @include mobile() {
    font-size: 26px;
    line-height: 36px;
  }
}

.u-section-text {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(0, 0, 0, 0.5);

  &--small {
    font-size: 14px;
    line-height: 24px;
  }

  &--medium {
    font-size: 20px;
    line-height: 30px;

    @include mobile() {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &--vertical-space {
    margin-top: 0;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.u-text {
  &-primary {
    color: $primary-color;
  }

  &-semibold {
    font-weight: 600;
  }
}

.u-horizontal-slider {
  @include mobile() {
    &-mobile {
      @include horizontalSlider();
    }
  }
}

.u-hidden {
  @include mobileOrTablet() {
    &-mobile-or-tablet {
      display: none;
    }
  }

  @include desktop() {
    &-desktop {
      display: none;
    }
  }
}

.u-transition-none {
  transition: all 0ms;
}

.u-scroll-margin-top {
  scroll-margin-top: 100px;
}
