//
// Variables
//

$container-size: 1325px;
$container-size-xsmall: 375px;
$container-size-small: 625px;
$container-size-medium: 800px;
$section-space: 200px;
$section-space-mobile: 100px;
$section-medium-space: 75px;
$section-medium-space-mobile: 50px;

/**
 *
 * Color
 *
 */
$primary-color: #889aff;
$primary-hover-color: #7c8ce9;
$primary-opacity-10-color: #889aff1a;
